{% load staticfiles %}


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'fb.js' %}"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="http://materializecss.com/templates/starter-template/js/init.js"></script>

    {% load static %}

    <script>
        $(function () {
            $('.button-collapse').sideNav();
        });
    </script>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
    {% if userDj.is_authenticated %}
        {% if user.tipo == 3 %}
            <script>
                Pusher.logToConsole = true;

                var pusher = new Pusher('43806ba42b9b3916fd09', {
                    cluster: 'us2',
                    encrypted: true
                });

                function toRad(x) {
                    return x * Math.PI / 180;
                }
                function haversine(lat1, lon1, lat2, lon2) {
                    var r = 6371000;
                    var x1 = lat2 - lat1;
                    var dLat = toRad(x1);
                    var x2 = lon2 - lon1;
                    var dLon = toRad(x2);
                    var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                        Math.cos(toRad(lat1)) * Math.cos(toRad(lat2)) *
                        Math.sin(dLon / 2) * Math.sin(dLon / 2);
                    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                    return r * c;
                }

                var channel = pusher.subscribe('canal-alerta');
                channel.bind('evento-alerta', function (data) {
                    var lat = 0;
                    var lng = 0;
                    {% if user.tipo == 3 %}
                        lat = {{ vendedor.lat }};
                        lng = {{ vendedor.long }};
                    {% endif %}
                    if (haversine(lat, lng, data.lat, data.lng) < 15) {
                        alert(data.message);
                    }
                });
            </script>
        {% endif %}
    {% endif %}
    <script>
        function alertaPolicial() {
            var conf = confirm("¿De verdad desea enviar una alerta policial?");
            if (conf === true) {
                var lat = 0;
                var lng = 0;
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(alertaPosition, alertaSinPosicion);
                    function alertaPosition(position) {
                        lng = position.coords.longitude;
                        lat = position.coords.latitude;
                        $.ajax({
                            url: '{% url "alerta_policial" %}',
                            data: {
                                'lat': lat,
                                'long': lng
                            },
                            dataType: 'json'
                        });
                    }

                    function alertaSinPosicion() {
                    }
                }
            }
        }
    </script>
</head>

<body>
<nav class="top-nav">
    <div class="nav-wrapper teal lighten-1">
        <a href="#" class="brand-logo right"><img style="max-height: 65px!important;  padding: 8px 0!important;"
                                                  class="circle" src="{% static 'img/logo.png' %}"></a>
        <div class="navbar-fixed">
            <a href="#" data-activates="slide-out"
               class="left button-collapse btn-floating btn-large waves-effect waves-light"><i
                    class="material-icons">menu</i></a>
            <a class="center page-title"></a>
        </div>
        <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y">
            <li>
                <div class="userView">
                    {% if userDj.is_authenticated %}
                        <a href="{% url 'editar_perfil' %}">
                            <i class="material-icons right grey-text text-lighten-2"
                               style="position: absolute; bottom: -0.5em; right: 0.5em; padding: 0 0 !important;">
                                settings
                            </i>
                        </a>
                    {% endif %}
                    <div class="background" style="height:175px;">
                        <img src="{% static 'img/background4.png' %}">
                    </div>
                    {% if userDj.is_authenticated %}
                        {% if user.tipo != 1 %}
                            <a href="#!user"><img style="margin-top: 16%;" class="circle"
                                                  src="/media/{{ vendedor.avatar }}"></a>
                        {% else %}
                            <a href="#!user"><img style="margin-top: 16%;" class="circle"
                                                  src="/media/{{ user.avatar }}"></a>
                        {% endif %}
                        <a href="#!name"><span style="margin-left: 5%;"
                                               class="white-text name">{{ userDj.username }}</span></a>
                    {% else %}
                        <a href="#!user"><img style="margin-top: 16%;" class="circle"
                                              src="{% static 'img/../../media/AvatarPenguin.png' %}"></a>
                        <a href="#!name"><span style="margin-left: 5%;" class="white-text name">Invitado</span></a>
                    {% endif %}
                </div>
            </li>

            {% block side_content %}
                {% if userDj.is_authenticated %}
                    <li><a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i>Cerrar Sesión</a></li>
                    {% if user.tipo == 1 %}
                        <li><a href="{% url 'index' %}"><i class="material-icons">home</i>Inicio</a></li>
                    {% else %}
                        <li><a href=""><i class="material-icons">assessment</i>Datos de ventas</a></li>
                    {% endif %}
                    {% if user.tipo == 1 or user.tipo == 3 %}
                        <div id="alerta_pol">
                            <li><a onclick="alertaPolicial()"><i class="material-icons">add_alert</i>Alerta Policial</a>
                            </li>
                        </div>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'login' %}"><i class="material-icons">account_circle</i>Iniciar Sesión</a></li>
                    <li><a href="{% url 'signup' %}"><i class="material-icons">input</i>Registrarse</a></li>
                {% endif %}

                <li>
                    <div class="divider"></div>
                </li>

                {% block filtros_content %}
                {% endblock %}
                {% block activo_content %}
                {% endblock %}
            {% endblock %}
        </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>