{% extends 'refactoring/base.html' %}
{% load staticfiles %}

{% block filtros_content %}
    <li><a class="subheader">Filtros</a></li>
    {% if userDj.is_authenticated %}
        {% if user.tipo == 1 %}
            <li>
                <div class="switch" style="margin-left: 10px;">
                    <label>
                        <input type="checkbox"><span class="lever"></span>Sólo mostrar favoritos
                    </label>
                </div>
            </li>
        {%  endif %}
    {% endif %}
    <li>
        <div class="switch" style="margin-left: 10px;">
            <label>
                <input type="checkbox"><span class="lever"></span>Snacks
            </label>
        </div>
    </li>
    <li>
        <div class="switch" style="margin-left: 10px;">
            <label>
                <input type="checkbox"><span class="lever"></span>Almuerzos
            </label>
        </div>
    </li>
{%  endblock %}


{% block content %}
	<div id="map"></div>
    <script>
      function initMap() {
        var infoWindow;
        var beau850 = {lat: -33.457785, lng: -70.663808};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 19,
          center: beau850
        });
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            }
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }
      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV7ElkwQIJ2v6YG9fhXsbxbHNZzfoO9L8&callback=initMap">
    </script>

{% endblock %}