{% extends 'refactoring/base.html' %}
{% load staticfiles %}

{% block filtros_content %}
    <li><a class="subheader">Filtros</a></li>
    <form method="post" action="">
        {% csrf_token %}
        {% if userDj.is_authenticated %}
            {% if user.tipo == 1 %}
                <li>
                    <div class="switch" style="margin-left: 10px;">
                        <label>
                            <input type="checkbox"><span class="lever"></span>Sólo mostrar favoritos
                        </label>
                    </div>
                </li>
            {% endif %}
        {% endif %}
        <ul id="id_filtros">
        {% for choice, text in form.filtros.field.choices %}
            <li>
                <div class="switch" style="margin-left: 10px;">
                    <label for="id_filtros_{{ forloop.counter0 }}">
                        <input id="id_filtros_{{ forloop.counter0 }}" name="filtros" type="checkbox" value="{{ forloop.counter0 }}">
                        <span class="lever"></span>{{ text }}
                    </label>
                </div>
            </li>
        {% endfor %}
        </ul>
        <li>
            <div class='row center-align' style="margin-bottom: 100px;">
                <button type='submit' name='filtrar' class='btn btn-large waves-effect teal'>
                    Filtrar
                </button>
            </div>
        </li>
    </form>
{% endblock %}


{% block content %}
    <div id="map"></div>
    <script>
        function initMap() {
            var infoWindow;
            var beau850 = {lat: -33.457785, lng: -70.663808};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 19,
                center: beau850
            });
            var markers = [];
            var infoWindows = [];
            var info = '';
            var estado = 'Activo';
            var pagos = '';
            var menu = '';
            var horario = '';
            {% for vendedor in vendedores %}
                markers.push(new google.maps.Marker({
                    position: {lat: {{ vendedor.lat }}, lng: {{ vendedor.long }}},
                    map: map
                    {% if vendedor in vendedores_favoritos %}
                        , icon: '../static/img/star.png'
                    {% endif %}
                }));
                {% if vendedor.activo %}
                    estado = 'Activo';
                {% else %}
                    estado = 'Inactivo';
                {% endif %}
                pagos = '';
                {% for forma in vendedor.formasDePago.all %}
                    {% if forloop.last %}
                        pagos += '{{ forma.forma }}.';
                    {% else %}
                        pagos += '{{ forma.forma }}, ';
                    {% endif %}
                {% endfor %}
                menu = '';
                {% for item in vendedor.vendedor_respectivo.all %}
                    {% if forloop.last %}
                        menu += '{{ item.nombre }}.';
                    {% else %}
                        menu += '{{ item.nombre }}, ';
                    {% endif %}
                {% endfor %}
                horario = '';
                {% if vendedor.usuario.tipo == 2 %}
                    horario = '<p><i>Horario:</i> {{ vendedor.horarioIni }} - {{ vendedor.horarioFin }}</p>';
                {% endif %}
                info = '<div id="content">' +
                    '<div id="siteNotice">' +
                    '</div>' +
                    '<div><p style="float: left;"><img src="/media/{{ vendedor.avatar }}" width="50" hspace="10"></p>' +
                    '<h4>{{ vendedor.nombre }}</h4></div>' +
                    '<p style="color:#029500;">' + estado + '</p>' +
                    '<div id="bodyContent">' +
                    '<p><i>Menú:</i> ' + menu + '</p>' + horario +
                    '<p><i>Formas de pago:</i> ' + pagos + '</p>' +
                    '<p style="text-align: right;">' +
                    '<a href="{% url 'vendedorprofilepage' vendedor=vendedor %}">Ver detalles»</a></p>' +
                    '</div>' +
                    '</div>';
                infoWindows.push(new google.maps.InfoWindow({
                    content: info,
                    maxWidth: 400
                }));
                markers[{{ forloop.counter0 }}].addListener('click', function () {
                    infoWindows[{{ forloop.counter0 }}].open(map, markers[{{ forloop.counter0 }}]);
                });
            {% endfor %}

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV7ElkwQIJ2v6YG9fhXsbxbHNZzfoO9L8&callback=initMap">
    </script>

{% endblock %}