<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css">

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/fb.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="http://materializecss.com/templates/starter-template/js/init.js"></script>

    <nav class="top-nav">
        <div class="nav-wrapper teal lighten-1">
            <a href="#" class="brand-logo right"><img style="max-height: 65px!important;  padding: 8px 0!important;" class="circle" src="../static/img/logo.png"></a>
          <div class="navbar-fixed">
            <a href="#" data-activates="slide-out"
               class="left button-collapse btn-floating btn-large waves-effect waves-light"><i
                    class="material-icons">menu</i></a>
            <a class="center page-title"></a>
          </div>
            <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y">
                <li>
                    <div class="userView">
                    <i class="material-icons right grey-text text-lighten-2" style="position: absolute; bottom: -0.5em; right: 0.5em; padding: 0 0 !important;">settings</i> <!-- TODO darle funcionalidad-->
                  <div class="background" style="height:175px;">
                    <img src="../static/img/background4.png">
                  </div>
                  <a href="#!user"><img style="margin-top: 16%;" class="circle" src="../static/img/AvatarPenguin.png"></a>
                  <a href="#!name"><span style="margin-left: 5%;" class="white-text name">VENDEDOR AMBULANTE</span></a>
                </div>
                </li>
                <li><div class="section"></div></li>
                <li><a href="{% url 'index' %}"><i class="material-icons">exit_to_app</i>Cerrar Sesión</a></li> <!-- TODO darle funcionalidad-->
                <li><div class="divider"></div></li>
                <li><a class="subheader">Activo</a></li>
                <li>
                    <div class="switch" style="margin-left: 80px;">
                        <label>
                            No<input type="checkbox"><span class="lever"></span>Si <!-- TODO darle funcionalidad-->
                        </label>
                    </div>
                </li>

                <!-- <li><a class="subheader">Filtros</a></li>
                <li>
                    <div class="switch" style="margin-left: 10px;">
                        <label>
                            <input type="checkbox"><span class="lever"></span>Sólo mostrar favoritos
                        </label>
                    </div>
                </li>
                <li>
                    <div class="switch" style="margin-left: 10px;">
                        <label>
                            <input type="checkbox"><span class="lever"></span>Snacks
                        </label>
                    </div>
                </li>
                <li>
                    <div class="switch" style="margin-left: 10px;">
                        <label>
                            <input type="checkbox"><span class="lever"></span>Almuerzos
                        </label>
                    </div>
                </li> -->
            </ul>
        </div>
    </nav>

</head>

<body>
{% block content %}
<div class="section"></div>
    <main>
        <div class="section"></div>
        <div class="section"></div>
        <div class="container">

            <div class="z-depth-1 grey lighten-4 row" style="margin-left: 5%; margin-right: 5%; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <img src="http://placehold.it/158x158" class="img-rounded img-responsive" draggable="false" />
                                    </div>

                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <h6 style="text-align: left;" class="teal-text">Nombre</h6>
                                        <h4>Casper Thomsen</h4>

                                        <h6 style="text-align: left;" class="teal-text">Formas de pago</h6>
                                    </div>

                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <span class="label label-info pull-right">Favoritos: 1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!--<div class="feed-photos">-->

              <!--<div class="row-fluid">-->
                <!--<div class="span12">-->
                  <!--<ul class="thumbnails user-media-thumbnails">-->
                    <!--<li class="span2">-->
                      <!--<a href="#" class="thumbnail">-->
                        <!--<img src="http://placehold.it/150x150"/>-->
                        <!--<div class="meta">-->
                          <!--<i class="icon-heart"></i> 3-->

                          <!--<i class="icon-comment"></i> 0-->
                        <!--</div>-->
                      <!--</a>-->
                    <!--</li>-->
                    <!--<li class="span2">-->
                      <!--<a href="#" class="thumbnail">-->
                        <!--<img src="http://placehold.it/150x150"/>-->
                        <!--<div class="meta">-->
                          <!--<i class="icon-heart"></i> 3-->

                          <!--<i class="icon-comment"></i> 0-->
                        <!--</div>-->
                      <!--</a>-->
                    <!--</li>-->
                    <!--<li class="span2">-->
                      <!--<a href="#" class="thumbnail">-->
                        <!--<img src="http://placehold.it/150x150"/>-->
                        <!--<div class="meta">-->
                          <!--<i class="icon-heart"></i> 3-->

                          <!--<i class="icon-comment"></i> 0-->
                        <!--</div>-->
                      <!--</a>-->
                    <!--</li>-->
                    <!--<li class="span2">-->
                      <!--<a href="#" class="thumbnail">-->
                        <!--<img src="http://placehold.it/150x150"/>-->
                        <!--<div class="meta">-->
                          <!--<i class="icon-heart"></i> 3-->

                          <!--<i class="icon-comment"></i> 0-->
                        <!--</div>-->
                      <!--</a>-->
                    <!--</li>-->
                    <!--<li class="span2">-->
                      <!--<a href="#" class="thumbnail">-->
                        <!--<img src="http://placehold.it/150x150"/>-->
                        <!--<div class="meta">-->
                          <!--<i class="icon-heart"></i> 3-->

                          <!--<i class="icon-comment"></i> 0-->
                        <!--</div>-->
                      <!--</a>-->
                    <!--</li>-->
                    <!--<li class="span2">-->
                      <!--<a href="#" class="thumbnail">-->
                        <!--<img src="http://placehold.it/150x150"/>-->
                        <!--<div class="meta">-->
                          <!--<i class="icon-heart"></i> 3-->

                          <!--<i class="icon-comment"></i> 0-->
                        <!--</div>-->
                      <!--</a>-->
                    <!--</li>-->

                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->

    </main>


<div class="section"></div>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
{% endblock %}

</body>

</html>