{% extends 'main/baseVFijo.html' %}
{% block content %}

<script>
 $(document).ready(function(){
    $('.modal').modal();
  });

</script>




    <main>
<!--  -->
{#    Perfil del vendedor           #}
    <div class="container">
        <div id="profile-page-header" class="card">

            <!-- Fondo del vendedor -->
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../static/img/food-background3.png" alt="user background">
            </div>

            <!-- Imagen del perfil en pantallas grandes -->
            <div class="row hide-on-small-and-down">
                <a class="card-profile-image-large">
                    <img style="margin-top: 20%;" id="img-perfil-desktop" src="" alt="profile image" class="circle z-depth-2 responsive-img activator"> <!-- TODO foto agregar desde el request -->
                </a>
            </div>

            <!-- Imagen del perfil en pantallas medianas/pequeñas -->
            <div class="row show-on-small hide-on-med-and-up">
                <a class="card-profile-image-small">
                    <img id="img-perfil-movil" src="" alt="profile image" class="circle z-depth-2 responsive-img activator"> <!-- TODO foto agregar desde el request -->
                </a>
            </div>

            <!-- Info del vendedor desktop -->
            <div class="card-content s12">
                <div class="row">
                    <div class="col s3 offset-s2 hide-on-med-and-down">

                        <!-- Nombre -->
                        <h4 class="card-title grey-text flow-text text-darken-4">{{nombre}}</h4>

                        <!-- Tipo -->
                        <p class="medium-small flow-text grey-text">&emsp;&emsp;&ensp;Vendedor Fijo</p>

                        <!-- Horario -->
                        <p class="flow-text text-darken-4" style="font-size: 0.88rem;">
                            &ensp;Horario: <a class="light-green-text">{{horarioIni}} - {{horarioFin}}</a>
                        </p>
                    </div>

                    <!-- Estado -->
                    <div class="col s3 l2 hide-on-med-and-down center-align">
                        <h4 class="card-title flow-text text-darken-4">Estado</h4>
                        <p class="" id="estado-desktop"></p>
                    </div>

                    <!-- Formas de pago -->
                    <div class="col s3 l2 hide-on-med-and-down center-align">
                        <h3 class=" grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Formas de pago</h3>
                        <p class="medium-small flow-text grey-text" id="medios-pago-desktop"></p>
                    </div>

                    <!-- Favoritos -->
                    <div class="col s3 l2 hide-on-med-and-down center-align">
                        <div class="switch" style="margin-left: 10px;">
                            <label>
                                <h4 class="card-title grey-text flow-text text-darken-4">Favorito</h4>
                                <!--<input type="checkbox"><span class="lever"></span>-->
                                <h6><i class="material-icons amber-text" >grade</i>
                                    <span class=" grey-text flow-text text-darken-4"style="font-size:24px; line-height:35px;">42</span> <!-- TODO agregar desde el request -->
                                </h6>
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Boton para Editar -->
                {% comment %}<div class="col s3 l2 hide-on-med-and-down right-align">
                    <a class="btn-floating activator waves-effect waves-light darken-2">
                          <i class="material-icons">mode_edit</i>
                      </a>
                 </div>{% endcomment %}
            </div>

            <!-- Info del vendedor movil -->
            <div class="row show-on-medium-and-down hide-on-med-and-up">
                <div class="col s4 offset-s2">

                    <!-- Nombre -->
                    <h4 class="card-title grey-text flow-text text-darken-4">{{nombre}}</h4>

                    <!-- Tipo -->
                    <p class="medium-small flow-text grey-text">&ensp;Vendedor Fijo</p>

                    <!-- Horario -->
                    <p class="flow-text text-darken-4" style="font-size: 0.88rem;">
                        &ensp;Horario: <a class="light-green-text">{{horarioIni}} - {{horarioFin}}</a>
                    </p>

                    <!-- Favoritos -->
                    <div class="switch" style="margin-left: 10px;">
                        <label>
                            <p class="card-title grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Favorito</p>
                            <!--<input type="checkbox"><span class="lever"></span>-->
                            <h6><i class="material-icons amber-text">grade</i>
                                <span class=" grey-text flow-text text-darken-4"style="font-size:22px; line-height:25px;">42</span> <!-- TODO agregar desde el request -->
                            </h6>
                        </label>
                    </div>
                </div>

                <!-- Estado -->
                <div class="col s3 m2 l12 offset-s1">
                    <p class="flow-text text-darken-4">Estado</p>
                    <p class="" id="estado-movil"></p>
                </div>

                <!-- Formas de pago -->
                <div class="col s3 m2 l12 offset-s1"> <!--offset-s2-->
                    <p class=" grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Formas de pago</p>
                    <p class="medium-small flow-text grey-text" id="medios-pago-movil"></p>
                </div>

                <!--<div class="col s3 offset-s2 offset-l10">
                    <div class="switch" style="margin-left: 10px;">
                        <label>
                            <p class="card-title grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Favorito</p>
                            <input type="checkbox"><span class="lever"></span>
                        </label>
                    </div>
                </div>-->

                <!-- Boton para Editar -->
                <div class="col s4 offset-s8 right-align"> <!--offset-s4-->
                    <a class="btn-floating activator waves-effect waves-light darken-2">
                          <i class="material-icons">mode_edit</i>
                      </a>
                 </div>
            </div>
        </div>
    </div>

{#        Productos del vendedor                #}
    <div id="profile-page-content" class="row">
        <div id="profile-page-wall" class="col s12 m8">
            <div class="col s12 z-depth-1">
                <div class="tab-content col s12">
                    <div class="container">
                        <div class="section">
                            <div class="row">
                                <!-- Aca se definen los modales -->
                                <!-- aca comienzan a mostrarse los productos -->
                                <!--Este script es para ordenar el listado de productos --> <!-- TODO agregar imagenes, crear dinamicamente los modales-->
                                            <script>
                                            var productos ={{ listaDeProductos|safe }};
                                            var largo = productos.length;
                                            //crear todos los modales
                                            for (var i = 0; i < largo; i++)  {
                                                document.write( "<div id='modal"+(i + 1)+"' class='modal'>");
                                                document.write("<div class='modal-content'>");
                                                document.write("<img class='activator responsive-img center-block'  style='max-width: 30%; margin-top:20px; margin-bottom:20px;' src ='../static/media/"+productos[i][5]+"'>");
                                                document.write("</div>");
                                                document.write("<div class='modal-footer'>");
                                                document.write("<a href='#!' class='modal-action modal-close waves-effect waves-green btn-flat'><i class='large material-icons'>close</i></a>");
                                                document.write("</div></div>");
                                            }
                                            //imprimir en pantalla todas las tarjetas de productos
                                            for (var i = 0; i < largo; i++)  {
                                                document.write(" <div class='col s6 m6 l4'>");
                                                document.write("<div class='container'>");
                                                document.write(" <div class='card z-depth-1'>");
                                                document.write("<div class='teal lighten-2 card-image waves-effect waves-block waves-light'>");
                                                document.write("<img class='activator responsive-img center-block'  style='max-width: 30%; margin-top:20px; margin-bottom:20px;height: 100px; width: 100px;' src ='../static/media/"+productos[i][5]+"'>");
                                                document.write("</div>");
                                                document.write(" <div class='card-content'>");
                                                document.write("<span class='card-title activator grey-text text-darken-4'> "+productos[i][0] +" <i class='material-icons right'>more_vert</i></span>");
                                                document.write("<p><a class='teal-text'> $"+productos[i][3]+" </a></p>");
                                                document.write("</div>");
                                                document.write(" <div class='card-reveal'>");
                                                document.write(" <span class='card-title grey-text text-darken-4'> "+productos[i][0] +" <i class='material-icons right'>close</i></span>");
                                                document.write(" <ul>");
                                                document.write(" <li>Precio: <a class='green-text light-green-text'> $"+productos[i][3]+" </a></li>");
                                                document.write("<li>Categoria: "+productos[i][1]+" </li>");
                                                document.write("<li>Stock: "+productos[i][2]+" </li>");
                                                document.write("<li>Descripcion: "+productos[i][4]+" </li>");
                                                document.write("<li> <p class='right-align'><a class='waves-effect waves-light' href='#modal"+(i+1)+"'>Ver imagen</a></p></li>");
                                                document.write(" </ul></div></div></div></div>");
                                            }
                                            </script>
                            </div>
                        </div>

                    </div>

                </div>
                <div class='row'>
                    <a class='col l5 offset-l4 btn btn-large waves-effect button teal' href="{% url 'gestionproductos' %}">Agregar Item</a>
                </div>
            </div>
        </div>
    </div>
    </main>

<script>
    function ProfileImg() {
        var str = "../static/media/";
        var ruta = str.concat("{{ avatar }}");
        document.getElementById("img-perfil-desktop").src = ruta;
        document.getElementById("img-perfil-movil").src = ruta;
    }
</script>

<script>
    function EstadoVendedor() {
        var estado = "{{ activo }}";
        if (estado == "True") {
            document.getElementById("estado-desktop").classList.add("medium-small","flow-text","light-green-text");
            document.getElementById("estado-desktop").innerHTML = "Disponible";

            document.getElementById("estado-movil").classList.add("medium-small","flow-text","light-green-text");
            document.getElementById("estado-movil").innerHTML = "Disponible";
        } else {
            document.getElementById("estado-desktop").classList.add("medium-small","flow-text","red-text");
            document.getElementById("estado-desktop").innerHTML = "No Disponible";

            document.getElementById("estado-movil").classList.add("medium-small","flow-text","red-text");
            document.getElementById("estado-movil").innerHTML = "No Disponible";
        }
    }
</script>

<script>
    function FormasDePago() {
        var rawPagos = "{{ formasDePago|safe }}";
        var pagos = rawPagos.split(", ");
        var largo = pagos.length;
        var texto = "<ul>";
        for (var i = 0; i < largo; i++)  {
            texto += "<li>" + pagos[i] + "</li>";
        }
        document.getElementById("medios-pago-desktop").innerHTML = texto;
        document.getElementById("medios-pago-movil").innerHTML = texto;
    }
</script>

 <script>
    window.onload = ProfileImg();
    window.onload = EstadoVendedor();
    window.onload = FormasDePago();
</script>
{% endblock %}