{% extends 'main/baseVFijo.html' %}
{% block content %}

<script>
 $(document).ready(function(){
    $('.modal').modal();
  });

</script>

<script>
    function ProfileImg(a) {
        var str = "../static/media/";
        var res = str.concat(a);
        alert("adad");
    }
    document.getElementById("img-perfil").src = ProfileImg({{avatar}});
</script>
    <main>
<!--  -->

{#    Perfil del vendedor           #}
    <div class="container">
        <div id="profile-page-header" class="card">

            <!-- Fondo del vendedor -->
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../static/img/food-background3.png" alt="user background">
            </div>

            <!-- Imagen del perfil en pantallas grandes -->
            <div class="row hide-on-small-and-down">
                <a class="card-profile-image-large">
                    <img style="margin-top: 20%;" id="img-perfil" alt="profile image" class="circle z-depth-2 responsive-img activator"> <!-- TODO foto agregar desde el request -->
                </a>
            </div>

            <!-- Imagen del perfil en pantallas medianas/pequeñas -->
            <div class="row show-on-small hide-on-med-and-up">
                <a class="card-profile-image-small">
                    <img id="img-perfil" alt="profile image" class="circle z-depth-2 responsive-img activator"> <!-- TODO foto agregar desde el request -->
                </a>
            </div>

            <!-- Info del vendedor desktop -->
            <div class="card-content s12">
                <div class="row">
                    <div class="col s3 offset-s2 hide-on-med-and-down">
                        <h4 class="card-title grey-text flow-text text-darken-4">{{nombre}}</h4>
                        <p class="medium-small flow-text grey-text">&emsp;&emsp;&ensp;Vendedor Fijo</p>
                        <p class="flow-text text-darken-4" style="font-size: 0.88rem;">
                            &ensp;Horario: <a class="light-green-text">{{horarioIni}} - {{horarioFin}}</a>
                        </p>
                    </div>
                    <div class="col s3 l2 hide-on-med-and-down center-align">
                         <h4 class="card-title flow-text text-darken-4">Estado</h4>
                        <p class="medium-small flow-text light-green-text">Disponible</p>  <!-- TODO cambiar el estado segun el horario -->
                    </div>
                    <div class="col s3 l2 hide-on-med-and-down center-align">
                        <h3 class=" grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Formas de pago</h3>
                        <p class="medium-small flow-text grey-text">Efectivo  </p> <!-- TODO agregar desde el request -->
                    </div>
                    <div class="col s3 l2 hide-on-med-and-down center-align">
                        <div class="switch" style="margin-left: 10px;">
                            <label>
                                <h4 class="card-title grey-text flow-text text-darken-4">Favorito</h4>
                                <!--<input type="checkbox"><span class="lever"></span>-->
                                <h6><i class="material-icons amber-text" >grade</i>
                                    <span class=" grey-text flow-text text-darken-4"style="font-size:24px; line-height:35px;">42</span> <!-- TODO agregar desde el request -->
                                </h6>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col s3 l2 hide-on-med-and-down right-align">
                    <a class="btn-floating activator waves-effect waves-light darken-2">
                          <i class="material-icons">mode_edit</i>
                      </a>
                 </div>
            </div>

            <!-- Info del vendedor movil -->
            <div class="row show-on-medium-and-down hide-on-med-and-up">
                <div class="col s4 offset-s2">
                        <h4 class="card-title grey-text flow-text text-darken-4">{{nombre}}</h4>
                        <p class="medium-small flow-text grey-text">&ensp;Vendedor Fijo</p>
                        <p class="flow-text text-darken-4" style="font-size: 0.88rem;">
                            &ensp;Horario: <a class="light-green-text">{{horarioIni}} - {{horarioFin}}</a>
                        </p>
                        <div class="switch" style="margin-left: 10px;">
                            <label>
                                <p class="card-title grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Favorito</p>
                                <!--<input type="checkbox"><span class="lever"></span>-->
                                <h6><i class="material-icons amber-text">grade</i>
                                    <span class=" grey-text flow-text text-darken-4"style="font-size:22px; line-height:25px;">42</span> <!-- TODO agregar desde el request -->
                                </h6>
                            </label>
                        </div>
                    </div>
                <div class="col s3 m2 l12 offset-s1">
                    <p class="flow-text text-darken-4">Estado</p>
                    <p class="medium-small flow-text light-green-text">Disponible</p> <!-- TODO cambiar el estado segun el horario -->
                </div>

                <div class="col s3 m2 l12 offset-s1"> <!--offset-s2-->
                    <p class=" grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Formas de pago</p>
                    <p class="medium-small flow-text grey-text">Efectivo</p> <!-- TODO agregar desde el request -->
                </div>

                <!--<div class="col s3 offset-s2 offset-l10">
                    <div class="switch" style="margin-left: 10px;">
                        <label>
                            <p class="card-title grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Favorito</p>
                            <input type="checkbox"><span class="lever"></span>
                        </label>
                    </div>
                </div>-->
                <div class="col s4 offset-s8 right-align"> <!--offset-s4-->
                    <a class="btn-floating activator waves-effect waves-light darken-2">
                          <i class="material-icons">mode_edit</i>
                      </a>
                 </div>
            </div>
        </div>
    </div>

{#        Productos del vendedor                #}
    <div id="profile-page-content" class="row">
        <div id="profile-page-wall" class="col s12 m8">
            <div class="col s12 z-depth-1">
                <div class="tab-content col s12">
                    <div class="container">
                        <div class="section">
                            <div class="row">
                                <!-- Aca se definen los modales -->
                                    <div id="modal1" class="modal">
                                        <div class="modal-content">
                                          <img class="activator responsive-img center-block" src="../static/img/pepperoni1.jpg">
                                        </div>
                                        <div class="modal-footer">
                                          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="large material-icons">close</i></a>
                                        </div>
                                    </div>
                                    <div id="modal2" class="modal">
                                        <div class="modal-content">
                                          <img class="activator responsive-img center-block" src="../static/img/pollo1.jpg">
                                        </div>
                                        <div class="modal-footer">
                                          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="large material-icons">close</i></a>
                                        </div>
                                    </div>
                                    <div id="modal3" class="modal">
                                        <div class="modal-content">
                                          <img class="activator responsive-img center-block" src="../static/img/jugo1.jpg">
                                        </div>
                                        <div class="modal-footer">
                                          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="large material-icons">close</i></a>
                                        </div>
                                    </div>
                                <!-- aca comienzan a mostrarse los productos -->
                                <!--Este script es para ordenar el listado de productos --> <!-- TODO agregar imagenes, crear dinamicamente los modales-->
                                            <script>
                                            var productos ={{ listaDeProductos|safe }};
                                            var largo = productos.length;
                                            //crear todos los modales
                                            for (var i = 0; i < largo; i++)  {
                                                document.write( "<div id='modal"+(i + 1)+"' class='modal'>");
                                                document.write("<div class='modal-content'>");
                                                document.write("<img class='activator responsive-img center-block'  style='max-width: 30%; margin-top:20px; margin-bottom:20px;' src ='../static/media/"+productos[i][5]+"'>");
                                                document.write("</div>");
                                                document.write("<div class='modal-footer'>");
                                                document.write("<a href='#!' class='modal-action modal-close waves-effect waves-green btn-flat'><i class='large material-icons'>close</i></a>");
                                                document.write("</div></div>");
                                            }
                                            //imprimir en pantalla todas las tarjetas de productos
                                            for (var i = 0; i < largo; i++)  {
                                                document.write(" <div class='col s6 m6 l4'>");
                                                document.write("<div class='container'>");
                                                document.write(" <div class='card z-depth-1'>");
                                                document.write("<div class='teal lighten-2 card-image waves-effect waves-block waves-light'>");
                                                document.write("<img class='activator responsive-img center-block'  style='max-width: 30%; margin-top:20px; margin-bottom:20px;height: 100px; width: 100px;' src ='../static/media/"+productos[i][5]+"'>");
                                                document.write("</div>");
                                                document.write(" <div class='card-content'>");
                                                document.write("<span class='card-title activator grey-text text-darken-4'> "+productos[i][0] +" <i class='material-icons right'>more_vert</i></span>");
                                                document.write("<p><a class='teal-text'> $"+productos[i][3]+" </a></p>");
                                                document.write("</div>");
                                                document.write(" <div class='card-reveal'>");
                                                document.write(" <span class='card-title grey-text text-darken-4'> "+productos[i][0] +" <i class='material-icons right'>close</i></span>");
                                                document.write(" <ul>");
                                                document.write(" <li>Precio: <a class='green-text light-green-text'> $"+productos[i][3]+" </a></li>");
                                                document.write("<li>Categoria: "+productos[i][1]+" </li>");
                                                document.write("<li>Stock: "+productos[i][2]+" </li>");
                                                document.write("<li>Descripcion: "+productos[i][4]+" </li>");
                                                document.write("<li><img class='activator responsive-img center-block'  style='max-width: 30%; margin-top:20px; margin-bottom:20px; height: 50px; width: 50px;' src ='../static/media/"+productos[i][5]+"'></li>");
                                                document.write(" </ul></div></div></div></div>");
                                            }
                                            </script>

                               <!-- Producto 1 -->
                                <div class='col s6 m6 l4'>
                                    <div class='container'>
                                        <div class='card z-depth-1'>
                                            <div class='teal lighten-2 card-image waves-effect waves-block waves-light'>
                                              <img class='activator responsive-img center-block'  style='max-width: 30%; margin-top:20px; margin-bottom:20px;' src='../static/img/pizza.png'>
                                            </div>
                                            <div class='card-content'>
                                              <span class='card-title activator grey-text text-darken-4'>Pizza<i class='material-icons right'>more_vert</i></span>
                                              <p><a class='teal-text'>$1.300</a></p>
                                            </div>
                                            <div class='card-reveal'>

                                              <span class='card-title grey-text text-darken-4'>Pizza<i class='material-icons right'>close</i></span>
                                                <ul>
                                                    <li>Precio: <a class='green-text light-green-text'>$1.300</a></li>
                                                    <li>Categoria: Almuerzos</li>
                                                    <li>Stock: 20 </li>
                                                    <!--<small class='btn-floating btn-small waves-effect waves-light red accent-2'><i class='material-icons tiny'>add</i></small>-->
                                                    <br>
                                                    <li>Descripción: Deliciosa pizza hecha con masa casera, viene disponible en 3 tipos:
                                                        <p>-Peperoni: Queso mozzarella, Pepperoni</p>
                                                        <p class='right-align'><a class='waves-effect waves-light' href='#modal1'>Ver imagen</a></p>
                                                        <p>-Clásica: Queso mozzarella, Aceitunas, Jamon, Tomate</p>
                                                        <p class='right-align'><a class='waves-effect waves-light' href='#modal1'>Ver imagen</a></p>
                                                        <p>-Vegetariana: Queso mozzarella, Aceitunas, Champiñones, Tomate</p>
                                                        <p class='right-align'><a class='waves-effect waves-light' href='#modal1'>Ver imagen</a></p>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Producto 2 -->
                                <div class="col s6 m6 l4">
                                    <div class="container">
                                        <div class="card z-depth-1">
                                            <div class="teal lighten-2 card-image waves-effect waves-block waves-light">
                                              <img class="activator responsive-img center-block"  style="max-width: 30%; margin-top:20px; margin-bottom:20px;" src="../static/img/rice.png">
                                            </div>
                                            <div class="card-content">
                                              <span class="card-title activator grey-text text-darken-4">Menú de arroz<i class="material-icons right">more_vert</i></span>
                                              <p><a class="teal-text">$2.500</a></p>
                                            </div>
                                            <div class="card-reveal">
                                              <span class="card-title grey-text text-darken-4">Menú de arroz<i class="material-icons right">close</i></span>
                                              <ul>
                                                <li>Precio: <a class="green-text light-green-text">$2.500</a></li>
                                                <li>Categoria: Almuerzos</li>
                                                <li>Stock: 40</li>
                                                <li>Descripción: Almuerzo de arroz con pollo arvejado.
                                                    <p class="right-align"><a class="waves-effect waves-light" href="#modal2">Ver imagen</a></p>
                                                </li>
                                              </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- Producto 3 -->
                                <div class="col s6 m6 l4">
                                    <div class="container">
                                        <div class="card z-depth-1">
                                            <div class="teal lighten-2 card-image waves-effect waves-block waves-light">
                                              <img class="activator responsive-img center-block"  style="max-width: 30%; margin-top:20px; margin-bottom:20px;" src="../static/img/juice.png">
                                            </div>
                                            <div class="card-content">
                                              <span class="card-title activator grey-text text-darken-4">Jugo<i class="material-icons right">more_vert</i></span>
                                              <p><a class="teal-text">$300</a></p>
                                            </div>
                                            <div class="card-reveal">
                                              <span class="card-title grey-text text-darken-4">Jugo<i class="material-icons right">close</i></span>
                                              <ul>
                                                <li>Precio: <a class="green-text light-green-text">$300</a></li>
                                                <li>Categoria: Snack</li>
                                                <li>Stock: 40</li>
                                                <li>Descripción: Jugo en caja sabor durazno.
                                                    <p class="right-align"><a class="waves-effect waves-light" href="#modal3">Ver imagen</a></p>
                                                </li>
                                              </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class='row'>
                    <a class='col l5 offset-l4 btn btn-large waves-effect button teal' href="{% url 'gestionproductos' %}">Agregar Item</a>
                </div>
            </div>
        </div>
    </div>
    </main>
{% endblock %}